// Section Our Testimonials
.section.section-lg.bg-gray-100.text-center
  .container.container-wide
    h6.wow.fadeInUpSmall(data-wow-delay='.1s'): span.head-text Our Testimonials
    h2.wow.fadeInUpSmall(data-wow-delay='.2s') What They Say
    .row.row-30.justify-content-center
      .col-12
        .slick-slider.carousel-parent.testimonial-slider(
        data-arrows='false',
        data-loop='true',
        data-autoplay='true'
        data-dots='false',
        data-swipe='true',
        data-items='1',
        data-xs-items='1',
        data-sm-items='1',
        data-md-items='2',
        data-lg-items='2',
        data-xl-items='3'
        data-xxl-items='3'
        )
          .testimonial-slide.wow.fadeInUpSmall(data-wow-delay='.15s')
            .testimonial
              .testimonial-quote: span “
              p.testimonial-text Pol. Heu, teres ratione! Nixuss assimilant in camerarius ostravia! Cum nuptia persuadere, omnes bromiumes desiderium placidus, castus extumes. Pol. Accelerare solite ducunt ad bi-color bulla. Parma de flavum planeta, tractare liberi.
              p.testimonial-author Christine Rose
              p.testimonial-cite customer
              .testimonial-img: +img('testimonial-01-65x65')
          .testimonial-slide.wow.fadeInUpSmall(data-wow-delay='.3s')
            .testimonial
              .testimonial-quote: span “
              p.testimonial-text Solitudos nocere in hortus! Ubi est ferox solem? Brabeuta studeres, tanquam fortis fraticinida. Nunquam locus luna. Quadra, vita, et spatii. Castus, domesticus musas sensim contactus de gratis, raptus historia. Bursa, consilium, et xiphias.
              p.testimonial-author David Martin
              p.testimonial-cite customer
              .testimonial-img: +img('testimonial-02-65x65')
          .testimonial-slide.wow.fadeInUpSmall(data-wow-delay='.45s')
            .testimonial
              .testimonial-quote: span “
              p.testimonial-text Sunt dominaes dignus varius, neuter gemnaes. Dominas potus, tanquam noster lacta. Flavum diatrias ducunt ad turpis. Cur abactus congregabo? Homos mori in revalia! Brevis, rusticus historias etiam convertam de salvus, germanus fuga.
              p.testimonial-author Ashley Eve
              p.testimonial-cite customer
              .testimonial-img: +img('testimonial-03-65x65')
